.array-container {
    position: absolute;
    left: 100px;
}

.array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
}
.display {
    display: grid;
    grid-template-columns: 240px 240px 254px 240px;
    grid-template-rows: 30px 30px 30px 30px;
    grid-gap: 1px;
    height: 18px;
}
.button1{
    transition-duration: 0.4s;
    font-size: 20px;
}
.button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.button2 {
    transition-duration: 0.4s;
    font-size: 20px;
}
.button2:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.button3 {
    transition-duration: 0.4s;
    font-size: 20px;

}
.button3:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.button4 {
    transition-duration: 0.4s;
    font-size: 20px;
}
.button4:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
